@media screen and (max-width: 1280px) {
div.example {width: 1100px;}
}
@media screen and (max-width: 1024px) {
div.example {width: 980px;}
}



/* блок шапка1 */
#aCap{
display: flex;
flex-direction: column;
align-items: center;
position: relative;
height: 200px;
max-height: 60%;
background: rgba(120, 72, 72, 0.69);
}

/* Театр Кукол */
.label{
align-content:   center;
font-weight: bold;
font-size: 55px;
display: flex;
/* identical to box height, or 4% */
letter-spacing: 0.05em;
mix-blend-mode: normal;
}

/* Контакты */
.contacts{
font-family: Philosopher;
font-weight: bold;
font-size: 35px;
line-height: 4px;
/* identical to box height, or 7% */
color: #24FF00;
}


/* цвет блока к красному */
#pictReDD{
	position: relative;
width: 100%;
background-color: #210124a9;
background-attachment: fixed
}
#pictRed2{
	position: relative;
width: 100%;
height: 1400px;
padding-top: 40px;
}
#abTeatre1{
font-family: Philosopher;
font-size: 20px;
/* or 7% */

color: #99cc00;
}

#blockB{
	position: absolute;
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-content: space-between;

}
.url1{
display: flex;
flex-wrap: wrap;
flex-direction: row;
align-content: space-between;	
font-size: 40px;
padding-left: 40px;
padding-top: 40px;
}

#BaB{

margin-top: 200px;
}

#BaB2{

	display: flex;
flex-direction: column;
flex-wrap: nowrap;
	align-content: space-around;
	align-items: flex-start;	
margin-top: 70px;
padding-left: 50px;
}

#BaB3{

	display: flex;
flex-direction: column;
flex-wrap: nowrap;
	align-content: space-around;
	align-items: flex-end;	
margin-top: 70px;
padding-right: 50px;
}
#BaB4{

	display: flex;
flex-direction: column;
flex-wrap: nowrap;
	align-content: space-around;
	align-items: flex-start;	
margin-top: 70px;
padding-left: 50px;
}
.BlockAndBlock:hover{
box-shadow: 0 0 5px 5px #7fe7f5c1;
	}
.BlockAndBlock{

background: #e3e8e6;
display: flex;
align-content:  center;	
padding: 40px;
padding-left: 50px;

}
 
.p1{
color: #6A5F31;
padding-top: 25px;
padding-left: 100px;
font-size: 30px;
}
.m1{
width: 100%;
padding-left: 50px;
font-size: 40px;
color: #006400;
}


#uprVaR{
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
/*верхний внутренний отступ*/
padding-left: 20px;
padding-top: 10px;
}

/* подвал */
#footer1{
position: absolute;
width: 100%;

background: rgba(124, 88, 88, 0.59);
}
.ros{
	color: #000000;
}