*{
	margin:0;
}
nav ul{
list-style:none;

}

nav >ul > li{
float:left;

}

nav ul::after{
	content:"";
	display: block;
	clear: both;
}

nav ul li a {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	color:#24FF00;
}

nav ul li a:hover{
	background-color: #950740;
}
.topmenu{
	margin-top: 60px;
}
.topmenu > li {
  float: left;
  position: relative;
}
.topmenu > li:first-child {
	border-left: 0;
}
.topmenu > li > a {  
  padding: 20px 20px;
  letter-spacing: 2px;
}
.topmenu > li > a.active, 
.submenu a:hover {color: #ddbe86;}
.topmenu .fa, 
.submenu .fa {
  margin-left: 5px;
  color: inherit;
}
.submenu {
  position: absolute;
  z-index: 5;
  min-width: 100px;
  background: #e3fffb;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0; 
  transform-origin: 0% 0%;
  transform: rotateX(-50deg);
  transition: .3s linear;  
}
.submenu li {position: relative;}
.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}
nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
nav ul ul{
	display: none;
	position: absolute;

}

nav ul li:hover ul{
	display: block;
}
